# PostgreSQL
POSTGRES_PASSWORD=

# Gitea
GITEA_DB_PASSWORD=

# Bluesky PDS
PDS_JWT_SECRET=
PDS_ADMIN_PASSWORD=
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=
PDS_EMAIL_SMTP_PASSWORD=

# Mail
MAIL_DB_PASSWORD=
ROUNDCUBE_DB_PASSWORD=
ROUNDCUBE_DES_KEY=
RSPAMD_PASSWORD=
